<!-- Cover Start -->
        <div class="container">
            <div class="row">
                <div class="host-intro">
                    <h2>Discover Christian Hospitality</h2>
                    <p>Stay with a Christian host and experience awesome adventures</p>
                </div>
            </div>
            
            <div class="row">
              <div class="search-form">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="Location">Where</label>
                            <input type="text" class="form-control" id="Location" placeholder="USA, UK, Australia">
                        </div>
                        <div class="form-group">
                            <label for="Time">When</label>
                            <input type="email" class="form-control" id="Time" placeholder="Check-In">
                            <input type="email" class="form-control" id="Time" placeholder="Check-Out">
                        </div>
                        <div class="form-group">
                            <label for="Guests">Guests</label>
                            <input type="email" class="form-control" id="Guests" placeholder="1 Guest">
                        </div>
                        <a href="listings"></a><button type="submit" class="host-btn btn btn-lg">Search</button></a>
                    </form>
              </div> 
            </div>
        </div> <!-- Cover End -->