<!-- Cover Start -->
          <div class="container">
              <div class="host-form">
                  <div class="host-intro">
                      <h2>Earn money as a StayMarta host</h2>
                      <p>Show your Christian hospitality and be rewarded in the process</p>
                  </div>
                  <!-- POST form contents to /stories -->
                  <a href="host1a.html"><button class="host-btn btn btn-lg">Begin hosting</button></a>
              </div> 
          </div> <!-- Cover End -->