      <!-- Footer Logo -->
      <div class="container">
          <hr>
          <div id="footer-logo">
              <img id="logo" src='/img/logo.png'/><p>StayMarta</p>
          </div>
      </div>
      <!-- Footer -->
      <footer class="container-fluid text-center">
          <div class="footer-like-line">
              <a href="about"><p class="footer-links">About</p></a>
              <a href="howitwork"><p class="footer-links">How It Works</p></a>
              <a href="terms"><p class="footer-links">Terms &amp; Privacy</p></a>
              <a href="cancel"><p class="footer-links">Cancellation Policy</p></a>
              <a href="blog"><p class="footer-links">Blog</p></a>
              <a href="contact"><p class="footer-links">Contact</p></a>
          </div>
          <div class="footer-like-line">
              <p class="icon-line" id="copyright">Copyright © 2018 Marta Inc. Made with love in USA &amp; Indonesia</p>
              <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="https://www.medium.com" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
              <a href="https://www.pinterest.com" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
          </div>
      </footer>
      <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>