<% include partials/header %>

    <div class="jumbotron">
    <nav class="navbar navbar-transparent navbar-static-top">
      <div class="top-header">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">StayMarta</a><img id="logo" src='/img/logo.png'/>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/host">Become a host</a></li>
            <li><a href="/login">Log in</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      <div class="container">
        <h1><strong>About us</strong></h1>
        <img src="/img/logo.png" title="icon" alt="Failed to load image">
        <div class="Links">
          <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.medium.com"><i class="fa fa-medium" aria-hidden="true"></i></a>
          <a href="https://www.pinterest.com"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  	<div class="Content_a">
  		<div class="section">
  			<h2>What Is StayMarta?</h2>
  			<p>StayMarta is a Christian hospitality marketplace connecting travelers with local hosts and various type of accommodations as well as adventures anywhere in the world. The online platform enables people to list and rent short and mid-term lodging in various residential properties as well as things to do at a price set by owners. We are providing unique lodgings and activities with Christian values that travellers can conveniently book through our online platform.</p>
  		</div>
  		<div class="section">
  			<h2>What Do We Believe?</h2>
  			<p>Inspired by Marta who opened her home to Jesus and his disciples in Luke 10:38-42, Marta embodies the spirit of hospitality. We believe that the Gospel teaches us to love others in action. The spirit of hospitality is powerful in bringing communities together and that's why hospitality is the core of what we do at Marta. Following the command in Hebrew 13:1-2 on Chrisian living:</p>

  			<p>Keep on loving one another as brothers and sisters. Do not forget to show hospitality to strangers, for by so doing some people have shown hospitality to angels without knowing it.</p>
  		</div>
  		<div class="section">
  			<h2>Our Mission</h2>
  			<p>Our mission is to share the message of love that Jesus has taught us, to the world. We want to create communities that are passionate to host, to develop new friendships, and to serve others. Furthurmore, we hope to improve lives through these partnerships, benefiting what technology can do to bring people together.</p>
  			<p>As Christians, we can relate to the feeling of wanting to stay in a place that appreciates Christian values. Most notably, we know that sometimes it's challenging to stay true to our faith when travelling. StayMarta exists to help maintain those values, and to unite Christians all around the world in the name of Gospel.</p>
  		</div>
  	</div>

<% include partials/footer %>