<% include partials/header %>

    <div class="jumbotron">
      <nav class="navbar navbar-transparent navbar-static-top">
        <div class="top-header">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">StayMarta</a><img id="logo" src='img/logo.png'/>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">Home</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/host">Become a host</a></li>
              <li><a href="/login">Log in</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    <div class="container">
        <h1><strong>When You're Losing Faith in Trusting God</strong></h1>
        <h3>April 22, 2017 | Spiritual</h3>
        <div class="Links">
          <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.medium.com"><i class="fa fa-medium" aria-hidden="true"></i></a>
          <a href="https://www.pinterest.com"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    
      <div class="blog_content">
      <p>Lorem ipsum dolor sit amet, ei sale omnium nam, est wisi sententiae ei. Ei ius elit prima, mel ad dicunt nominavi insolens. Est equidem pertinacia id, sed ut accusam principes voluptaria. Dolorum placerat ei nec, per audire officiis no. Duo periculis delicatissimi at, usu aliquam ancillae insolens et.</p>
      <p style="font-weight: 800;">I struggle to understand faith, especially my own.</p>
    </div>

    <div id="quote2">
      <img src="https://seekraz.files.wordpress.com/2012/08/sundial-peak-and-lake-blanche-bw1.jpg">
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
    </div>

    <div class="blog_content">
      <p>No sint novum delenit sea, alterum commune eam id. Te ferri atqui signiferumque vix, nec cu probo virtute argumentum, persius inermis corpora vel ut. His in labitur iudicabit molestiae, ne vel etiam aeque eruditi. Esse facilis insolens usu in, illum quidam eloquentiam pro eu. Dicant aliquam adversarium eam et, te has placerat apeirian torquatos. Eam cu liber mandamus mediocrem. No nemore bonorum consetetur cum, mazim voluptatum te pro, sale mutat ex eos.</p>
      <p>An accusam scaevola consetetur eum, ex natum scaevola gubergren has, duo dicam eloquentiam ad. Et est nibh fastidii reprimique. Te mel graecis sapientem, meis euripidis mei ea, mazim moderatius usu et. Soluta persius eu sea.</p>
      <p>Tritani gubergren ea sea. His everti accommodare ei, cu zril conclusionemque quo. Vim eu justo ridens pertinax, mel quod habemus detracto te. At brute neglegentur qui, minim nusquam eam ad. Vel ad idque facilis abhorreant, congue mnesarchum pri ut. Ex case voluptatibus vis, sit illud errem theophrastus an.</p>
      <p>Ex iisque diceret voluptua mea. Per alienum perfecto comprehensam ut. Rebum nulla concludaturque pro et, ius an minim melius necessitatibus. Eu tollit nonumes est, laoreet vocibus ius no. Salutatus interpretaris sea at. Id vim solet eruditi.</p>
    </div>
    
<% include partials/featurearticles.ejs %>   
<% include partials/footer %>