<% include partials/header %>

<div class="jumbotron">
      <nav class="navbar navbar-transparent navbar-static-top">
        <div class="top-header">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">StayMarta</a><img id="logo" src='img/logo.png'/>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">Home</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/host">Become a host</a></li>
                <li><a href="/login">Log in</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <div class="container_tc">
        <h1><strong>Cancellations</strong></h1>
        <h3>What you need to know about cancelling your travel plans with StayMarta</h3>
      </div>
    </div>
  	<div class="Content_tc">
      <h3>StayMarta Cancellation Policies</h3>

      <p>Date Updated: 6th June 2016</p>

      <p>StayMarta requires hosts to choose from three standardized cancellation policies (Flexible, Standard, and Fixed) that we will apply to protect both guest and host alike. We will clearly state the cancellation policy on each listing and reservation on our website. Guests can cancel and review any penalties by viewing their travel plans and then clicking ‘Cancel’ on the appropriate reservation.</p>

      <h3>Flexible</h3>
      <p>&bull; The StayMarta service fee is non-refundable.<br />
          &bull; Cleaning fees are always refunded if the guest did not check in.<br />
          &bull; If there is a complaint from either party, notice must be given to StayMarta within 24 hours of check-in.<br />
         &bull; StayMarta will mediate when necessary, and has the final say in all disputes.<br />
          &bull; A reservation is officially canceled when the guest clicks the cancellation button on the cancellation confirmation page, which they can find in Dashboard > Your Trips > Change or Cancel.<br />
          &bull; Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.<br />
          &bull; Applicable taxes will be retained and remitted.<br />
          &bull; For a full refund, cancellation must be made a full 24 hours prior to listing’s local check in time (or 2:00 PM if not specified) on the day of check in. For example, if check-in is on Friday, cancel by Thursday of that week before check in time.
      </p>
      <p>If the guest cancels less than 24 hours before check-in, the first night is non-refundable.</p>
      <p>If the guest arrives and decides to leave early, the nights not spent 24 hours after the official cancellation are 100% refunded.</p>

      <h3>Standard</h3>
      <p>&bull; The StayMarta service fee is non-refundable.<br />
          &bull; Cleaning fees are always refunded if the guest did not check in.<br />
          &bull; If there is a complaint from either party, notice must be given to StayMarta within 24 hours of check-in.<br />
         &bull; StayMarta will mediate when necessary, and has the final say in all disputes.<br />
          &bull; A reservation is officially canceled when the guest clicks the cancellation button on the cancellation confirmation page, which they can find in Dashboard > Your Trips > Change or Cancel.<br />
          &bull; Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.<br />
          &bull; Applicable taxes will be retained and remitted.<br />
          &bull; For a full refund, cancellation must be made a full 24 hours prior to listing’s local check in time (or 2:00 PM if not specified) on the day of check in. For example, if check-in is on Friday, cancel by Thursday of that week before check in time.
      </p>
      <p>If the guest cancels less than 24 hours before check-in, the first night is non-refundable.</p>
      <p>If the guest arrives and decides to leave early, the nights not spent 24 hours after the official cancellation are 100% refunded.</p>
  	</div>
  	
<% include partials/featurearticles %>   
<% include partials/footer %>