<% include partials/header %>
<% include partials/jumbotronstart %>
<% include partials/navb %>
<% include partials/coverhost %>
<% include partials/jumbotronend %>
      
      <!-- Main Content Start-->
      <div class="container">
          <h3 class="section-title">How it Works</h3>
          <br>
          <div class="row">
              <h4>1 Sign up to host</h4>
              <div class="host-step-l">
                  <i class="fa-host fa fa-home fa-stack-2x" aria-hidden="true"></i>
                  <br>
                  <br>
                  <h5>Listing Information</h5>
                  <p>You will fill out general information about your listing, provide a description, upload photos, set house rules, and pick a price.</p>
              </div>
              <div class="host-step-r">
                  <i class="fa-host fa fa-users fa-stack-2x" aria-hidden="true"></i>
                  <br>
                  <br>
                  <h5>Who can book a listing?</h5>
                  <p>You will set availability and house rules for your listing. Only confirmed guests will be able to see your exact location.</p> 
              </div>
          </div>
          <div class="row"> 
              <h4>2 Guests search for your listing and book</h4>
              <div class="host-step-l">
                  <i class="fa-host fa fa-envelope-o fa-stack-2x" aria-hidden="true"></i>
                  <br>
                  <br>
                  <h5>Booking notification</h5>
                  <p>When a guest books your listings you will be notified by email. Potential guests can also email with questions regarding the listing.</p>
              </div>
              <div class="host-step-r">
                  <i class="fa-host fa fa-credit-card fa-stack-2x" aria-hidden="true"></i>
                  <br>
                  <br>
                  <h5>How to guests pay?</h5>
                  <p>Guests are required to pay by credit card upon booking. Refunds vary according to <a href="#">StayMarta's Cancellation Policy.</a></p>
              </div>
          </div>  
          <div class="row"> 
              <h4>3 Welcome your new guests</h4>
              <div class="host-step-l">
                  <i class="fa-host fa fa-list fa-stack-2x" aria-hidden="true"></i>
                  <br>
                  <br>
                  <h5>Plan for your quests</h5>
                  <p>Coordinate with your guest regarding logistics such as key swapping, parking, and alarms.</p>
              </div>
              <div class="host-step-r">
                  <i class="fa-host fa fa-money fa-stack-2x" aria-hidden="true"></i>
                  <br>
                  <br>
                  <h5>How do hosts get paid?</h5>
                  <p>You will be paid once the guest checks-in. Guests pay a 10% service fee and StayMarta takes 3% of the total transaction.</p>
              </div>
          </div>
          <div class="row">
              <a href="host1a.html"><button class="host-btn-green btn ">Begin hosting</button></a>
          </div>      
      </div>   

<% include partials/footer %>