<% include partials/header %>
    <div class="jumbotron">
      <nav class="navbar navbar-transparent navbar-static-top">
        <div class="top-header">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">StayMarta</a><img id="logo" src='img/logo.png'/>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">Home</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/host">Become a host</a></li>
                <li><a href="/login">Log in</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <div class="container_tc">
        <h1><strong>Terms and Conditions</strong></h1>
        <h3>Important information about Marta's services</h3>
      </div>
    </div>
    <div class="container">
  	<div class="Content_tc">
      <h3>TERMS AND CONDITIONS</h3>

      <p>Last Updated: 18 June 2016</p>

      <p>Welcome to Marta!</p>

      <p>Thanks for using our products and services("Services"). The Services are provided by Marta Inc.("Marta"), located at 130-A Essex St. South Hamilton, MA 01982, USA.</p>
      
      <p>Marta is an online marketplace matching hosts of Christian faith with any guests in various destinations around the world on the prinple of accommodation. The online platform connects individuals or legal persons offering a place to stay whether it's a room, a couch, or any desired accommodation space to individuals seeking to be accommodated for an agreed price.</p>
      
      <p>By using our Services, you are agreeing to these terms. Please read them carefully.</p>
      
      <p>ELIGIBILITY, REGISTRATION AND ACCOUNT</p>
      
      <p>You must be at least 18 years old to access or use the Services. By registering to use our Services, you represent that you are at least 18 years old. In order to access certain areas and features of our Services, you will need to register for an account using either your email address or your login credentials from a third-party social media site. If you register with your email address, you agree to create a unique password that you do not use with any other online product or service. By registering for an account, you further agree to (a) provide accurate, truthful, current and complete information; (b) maintain and promptly update your account information upon any changes; (c) maintain the security of your acoount by protecting your password and restricting access to your account; (d) promptly notify Marta if you discover or otherwise suspect any security breaches related to the Services; and (e) take responsibility for all activities that occur under your account and accept all risks of any authorized or unauthorized access.</p>

      <p>THIRD PARTY TERMS</p>

      <p>Marta may offer the opportunity to purchase products and services from third parties. You acknowledge that such products and services are offered and sold to you by one or more third parties. For more information, please refer to the applicable third party's terms of sale and privacy policy that are presented as part of checkout process.</p>

      <p>INTERACTIONS WITH OTHER MEMBERS</p>

      <p>3.1 You have sole responsibility when interacting with other members. Our Services provide a platform for members to learn about one another, arrange stays and travel, engage in activities and communicate with one another. Marta is not a party to, has no involvement or interest in, makes no representations or warranties as to, and has no responsibility or liability with respect to any communications, transactions, interactions, disputes or any relations whatsoever between you and any other member, person or organization. You are solely responsible for your interactions with other members our Services. We reserve the right, but have no obligation, to monitor interactions between you and other members of our Services.</p>

      <p>Remember, Marta's Services are just a platform that enables you to communicate and interact with other prople around the world. We cannot be responsible for the interactions that you have with other members of Marta, so please use good judgment and keep safety in mind when you use our Services.</p>
  	</div>
    </div>
    
<% include partials/featurearticles.ejs %>   
<% include partials/footer %>